<div style="text-align: center;"><img class="icon_image" src="cid:header"></img></div>
<div style="
        font:bold;
        text-align: center;
"
>Your new event is live! Tickets now selling.</div>
<div>
<p>Hi, <b>NAME</b></p>
<P>Your new event with the following details have been reviewed by us, approved and is now live for attendees to purchase a ticket to it</P> 

<div>
    <p>Name: <b>Sunday At Lash</b></p> 
    <p>Event Date: <b>Sunday, December 7 2024, 6 - 8pm WAT</b></p>
    <p>Event Location: <b>Lekki Tolll Gate, Lagos Nigeria</b></p>
</div>

<P>The link to your event is:  <a href="">entrypalapp.com/sundayatlash</a></P>

<P>We know this event would be great and a sell out! Share your event link, get the hype up, let it sell. We will be in touch with updates as they happen.</P>

<div>
    <p>Happy Ticketing.</p>
    <p><b>Entrypal Team</b></p>
</div>
</div>
<%- include("Footer.ejs")%>
</div>
