        <div style="text-align: center;"><img class="icon_image" src="cid:header" style="width: 500px; height: 200px;"/></div>
            <div style="
                    font:bold;
                    text-align: center;
            "
            >Welcome to Ticketing made easy, suii.</div>
        <div>
            <p>Hi, <b><%= name %></b></p>
            <P>My name is <b>Vincent</b> and I lead the wonderful team at Entrypal. Thank you for signing up on Entrypal!</P> 

            <P>You've just joined other pals on the easiest event ticketing platform to use on the internet. We're on a mission to transform the event industry by redefining how event access and ticketing work. We believe that attending events and issuing tickets should be as effortless as a click, not a complex maze. </P>

            <P>In order to make sure that you are always updated and never miss out on any new Entrypal messages and your tickets, please:</P>

            <P>1. Gmail Desktop: Drag this email to the Primary Tab in Gmail and tell it to always do so.</P>
            <P>2. iPhone and iPad's default Mac Mail App: Mark as Not Spam</P>

            <P>Thanks again for signing up and we look forward to ensuring you have a great time using Entrypal to experience easy ticketing and seamless event access.</P>

            <div>
                <p>Happy Ticketing.</p>
                <p><b>Vincent Ogbu</b></p>
            </div>
        </div>
        <%- include("Footer.ejs")%>
    </div>
