<body>
    <style>
      body { 
       display: flex;
       flex-direction: column;
     }
     h3{
      margin: auto;
     }
     .header_image{
      margin-bottom: 20px;
     }
     a{
      text-decoration: none;
      text-decoration-color: none;
     }
     .otp-box{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 10px;
      }
      .otp{
       font-size: 40px;
       background-color: red;
       width: 30%;
       text-align: center;
       border-radius: 10px;
       letter-spacing: 10px;
      }
      .otp-box img{
       margin-top: auto;
       margin-bottom: auto;
       width: 25px;
       height: 25px;
      }
      .otp-box img:hover{
        cursor: pointer;
      }
     .let-us-know{
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 40px;
     }
     .logo_image{
      margin: auto;
      width: 18%;
     }
     .social_icons{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      gap:30px;
     }
     .icon_image{
      width: 20px;
      height: 20px;
     }
     .footer{
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 10px;
      gap: -10px;
      margin-top: 20px;
      margin-bottom: 40px;
     }
     .footer p{
      margin-top: -3px;
    }
    </style>
    <img class="header_image" src="cid:header" alt="Entrypal_Header"/>
    <h3>Account verification</h3>
    <p>Hello  name name;</p>
    <p class="class">
      Please use the code below to verify your account. This code is valid for
      30 mins.
    </p>
    <div class="otp-box">
      <p class="otp"> content </p>
      <img  src="/assets/Copy.png" alt="Click to copy" onclick="copyToClipboard()"></img>
      <form id="register" method="post" action="/api/ticket/initializepayment/665c6218a9e308166a5a67ff">    
        <label><b>total amount     
        </b>    
        </label>    
        <input type="text" name="totalAmount" id="totalAmount" placeholder="totalAmount">    
        <br><br>    
        <label><b>tickets     
        </b>    
        </label>    
        <input type="tickets" name="tickets" id="tickets" placeholder="tickets">    
        <br><br>
        <label><b>Confirm Password     
        </b>    
        </label>    
        <input type="Password" name="confirm" id="confirm" placeholder="Password Repeat">    
        <br><br>      
        <input type="submit" name="submit" id="submit" value="Register">
    </form> 
    </div>
    <div class="let-us-know">
      <p>Please if this wasnt you, Please ignore this message or<a href="www.google.com">let us know</a></p>
    </div>
    <img class="logo_image" src="cid:logo" alt="Entrypal_logo"/>
    <div class="social_icons">
      <a href=""><img class="icon_image" src="https://res.cloudinary.com/dyzcq8c5o/image/upload/v1710519056/Entrypal%20Website%20Assets/ogoratrxxyntfxg3rb17.svg"></img></a>
      <a href=""><img class="icon_image" src="https://res.cloudinary.com/dyzcq8c5o/image/upload/v1710519056/Entrypal%20Website%20Assets/kvkj7vmj6wyjpbls03mu.svg"></img></a>
      <a href="https://"><img class="icon_image" src="https://res.cloudinary.com/dyzcq8c5o/image/upload/v1710519056/Entrypal%20Website%20Assets/u8lt8z9vjybrzokv0hzp.svg"></img></a>
      <a href="https://"><img class="icon_image" src="https://res.cloudinary.com/dyzcq8c5o/image/upload/v1710519056/Entrypal%20Website%20Assets/hxwiuy063owgegdlkfwc.svg"></img></a>
    </div>
    <div class="footer">
      <p>www.entrypalapp.com</p>
      <p>© Entrypal Apps Limited (RC 1889170) Awka,NG 420112</p>
      <p>Cancel Subscription</p>
    </div>
    <script>
      function copyToClipboard(){
        // let content = 'hello'
        // navigator.clipboard.writeText(content)
        // alert("Copied: " + content)
        fetch('http://localhost:5000/api/ticket/initializepayment/665c6218a9e308166a5a67ff', {
	method: 'POST'
})
      }
    </script>
  </body>
</html>
