<body>
    <style>
      body { 
       display: flex;
       flex-direction: column;
     }
     h3{
      margin: auto;
     }
     .header_image{
      margin-bottom: 20px;
     }
     a{
      text-decoration: none;
      text-decoration-color: none;
     }
     .otp-box{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 10px;
      }
      .otp{
       font-size: 40px;
       background-color: #F5F5F5;
       width: 30%;
       text-align: center;
       border-radius: 10px;
       letter-spacing: 10px;
      }
      .otp-box img{
       margin-top: auto;
       margin-bottom: auto;
       width: 25px;
       height: 25px;
      }
     .let-us-know{
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 40px;
     }
     .logo_image{
      margin: auto;
      width: 18%;
     }
     .social_icons{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      gap:30px;
     }
     .icon_image{
      width: 20px;
      height: 20px;
     }
     .footer{
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 10px;
      gap: -10px;
      margin-top: 20px;
      margin-bottom: 40px;
     }
     .footer p{
      margin-top: -3px;
    }
    </style>
    <img class="header_image" src="cid:header" alt="Entrypal_Header"/>
    <h3>Account verification</h3>
    <p>Hello  name name;</p>
    <p class="class">
      Please use the code below to verify your account. This code is valid for
      30 mins.
    </p>
    <div class="otp-box">
      <p class="otp"> content </p>
      <img  src="/assets/Copy.png" alt="Click to copy"></img>
    </div>
    <div class="let-us-know">
      <p>Please if this wasnt you, Please ignore this message or<a href="www.google.com">let us know</a></p>
    </div>
    <img class="logo_image" src="cid:logo" alt="Entrypal_logo"/>
    <div class="social_icons">
      <a href=""><img class="icon_image" src="https://res.cloudinary.com/dyzcq8c5o/image/upload/v1710519056/Entrypal%20Website%20Assets/ogoratrxxyntfxg3rb17.svg"></img></a>
      <a href=""><img class="icon_image" src="https://res.cloudinary.com/dyzcq8c5o/image/upload/v1710519056/Entrypal%20Website%20Assets/kvkj7vmj6wyjpbls03mu.svg"></img></a>
      <a href="https://"><img class="icon_image" src="https://res.cloudinary.com/dyzcq8c5o/image/upload/v1710519056/Entrypal%20Website%20Assets/u8lt8z9vjybrzokv0hzp.svg"></img></a>
      <a href="https://"><img class="icon_image" src="https://res.cloudinary.com/dyzcq8c5o/image/upload/v1710519056/Entrypal%20Website%20Assets/hxwiuy063owgegdlkfwc.svg"></img></a>
    </div>
    <div class="footer">
      <p>www.entrypalapp.com</p>
      <p>© Entrypal Apps Limited (RC 1889170) Awka,NG 420112</p>
      <p>Cancel Subscription</p>
    </div>
  </body>
</html>
