<div style="text-align: center;">
    <img class="logo_image" src="cid:logo" alt="Entrypal_logo"/>
    <div class="social_icons">
        <a href="https://www.github.com/Entrypal-Apps-Limited"><img class="icon_image" src="cid:github"/></a>
        <a href="https://x.com/entrypalapps?s=11"><img class="icon_image" src="cid:twitter"/></a>
        <a href="https://www.instagram.com/entrypalapps?igsh=c2hzd240b2JsbTZs"><img class="icon_image" src="cid:instagram"/></a>
      <a href="https://www.linkedin.com/company/entrypalhq/"><img class="icon_image" src="cid:linkedin"/></a>
    </div>
    <div style="font-size: 10px; font-weight: 200;">
      <p>www.entrypalapp.com</p>
      <p>© Entrypal Apps Limited (RC 1889170) Awka,NG 420112</p>
      <p>Cancel Subscription</p>
    </div>
</div>